.layout {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 36px;
	background-image: url(../img/arches/PrettyGrit1.jpg);
	background-repeat: fixed;
}

.body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #F3EBE3;
	background-color: #8b5942;
}
.title {
	color: #F3EBE3;
}

.link_heading {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #B2D9F8;
	text-align: center;
}
.text {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #F3EBE3;
	font-weight: normal;
	text-align: center;
}
.introlink {
	color: #B2D9F8;
}
