@charset "utf-8";
/* CSS Document */
<style type="text/css"> 

.body {
 font-family: Tahoma, Geneva, sans-serif;
 color: #B2D0B6;
 height: auto;
 width: auto;
 border: medium solid #646464;
 background-image: url(/images/tuxBG.jpg);
 background-attachment:fixed;
 }
.footer {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #0066ff;
}
.background {
	width: 100%;
	height: 100%;
	background-image: url(/img/tuxBG.jpg);
	background-attachment:fixed;
}
.links {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0066ff;
}
.body_content {
	height: auto;
	
	
	
}
.header {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 42px;
	color: #0066ff;
}
.banner {
	padding-left: 100px;
	padding-top: 50px;
	
}
.fourofour {
	font-family: Tahoma, Geneva, sans-serif;
	color: #303030;
	padding-right:100px;
	
}
.body_text {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 22px;
	color: #0066ff;
	
}
.alertText {
	color: #0099ff;
}
#header {
	/*position: fixed; top: 0px; */
}
#head { 
	min-width:1000px; width: auto !important; width: 1000px;
	}

nav ul {
	 white-space: nowrap; list-style: none; overflow: hidden; position: relative;
	 
}
	nav ul li {
		 float: left; margin: 0 5px 0 0; 
		}
	
		nav ul li a {
			display: block; width: 120px; height: 60px;
			 background-repeat: no-repeat; 
		}
		
			nav ul li:nth-child(1) a {
				background-image: url(../img/icons/home-icon.png);
				background-color: #84d982;
				background-position: center;
			}
			nav ul li:nth-child(2) a {
				background-image: url(../img/icons/about.png);
				background-color: #6fc26e;
				background-position: center;
			}
			nav ul li:nth-child(3) a {
				background-image: url(../img/icons/link.png);
				background-color: #5ea15d;
				background-position: center;
			}
			nav ul li:nth-child(4) a {
				background-image: url(../img/icons/projects.png);
				background-color: #30672d;
				background-position: center;
			}
			nav ul li:nth-child(5) a {
				background-image: url(../img/icons/blog.png);
				background-color: #1e4c1f;
				background-position: center;
			}
		
				nav ul li a span {
					font: 30px "Dosis", sans-serif; text-transform: uppercase; 
					position: absolute; left: 660px; top: 9px;
					display: none;
				}
					nav ul li a:hover span {
						display: block;
					}
				
				nav ul li:nth-child(1) a span {
					color: #84d982;
				}
				nav ul li:nth-child(2) a span {
					color: #6fc26e;
				}
				nav ul li:nth-child(3) a span {
					color: #5ea15d;
				}
				nav ul li:nth-child(4) a span {
					color: #30672d;
				}
				nav ul li:nth-child(5) a span {
					color: #1e4c1f;
				}
					
 </style>
