@charset "utf-8";
/* CSS Document */
<style type="text/css">

.body {
	font-family: Tahoma, Geneva, sans-serif;
	color: #B2D0B6;
	height: auto;
	width: auto;
	border: medium solid #646464;
	background-image: url(/images/tuxBG.jpg);
	background-attachment:fixed;
	
}
.footer {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #434242;
}
.background {
	width: 100%;
	height: 100%;
	background-image: url(/img/tuxBG.jpg);
	background-attachment:fixed;
}


.links  {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #434242;
}
.body_content {
	height: auto;
	border: medium solid #666;
	
}


.body_text {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 22px;
	color: #434242;
}

.alertText {
	color: #0099ff;
}

</style>
