<!--classes-->
.background {
	background-image: url(/images/avalancheimages/snowbackground.jpg);
	text-align: center;
}
.head {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 44px;
}
.navtext {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
}
.updatetext {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
}
<!--ids-->
#box1 {
	height: inherit;
    width: inherit;
    border-radius: 5px;
	display: inline-block;
		
}

#box2 {
	height: inherit;
    width: inherit;
    border-radius: 5px;
	display: inline-block;
		
}

#box3 {
	height: inherit;
    width: inherit;
    border-radius: 5px;
	display: inline-block;
		
}

#box4 {
	height: inherit;
    width: inherit;
    border-radius: 5px;
	display: inline-block;
		
}
	
#box5 {
	height: inherit;
    width: inherit;
    border-radius: 5px;
	display: inline-block;
		
}

#title {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing: 0.5em;
}

