<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mapping Utah Avalanches</title>

<style>
.background {
	background-image: url(../images/avalancheimages/snowbackground.jpg);
}
.head {
	font-family: "Adobe Caslon Pro Bold";
	font-size: 44px;
}
</style>
<body class="background">
<h1 align="center"><span class="head">Mapping Utah Avalanches</span></h1>
<h2 align="center">    </h2>
<table width="900" border="1" align="center">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="766">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

</body>
</html>
</head>