
#box1 {
	height: 100px;
    width: 100px;
    background-color: #FA6900;
    border-radius: 5px;
	display: inline-block;
		
}

#box2 {
	height: 100px;
    width: 100px;
    background-color:#03C;
    border-radius: 5px;
	display: inline-block;
		
}

#box3 {
	height: 100px;
    width: 100px;
    background-color: #FF3;
    border-radius: 5px;
	display: inline-block;
		
}

#box4 {
	height: 100px;
    width: 100px;
    background-color:#F00;
    border-radius: 5px;
	display: inline-block;
		
}
	
#box5 {
	height: 100px;
    width: 100px;
    background-color:#0C0;
    border-radius: 5px;
	display: inline-block;
		
}